@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
  h1 {
    @apply text-2xl/30 font-bold;
  }
  h2 {
    @apply text-xl/20 font-bold;
  }
  h3 {
    @apply text-lg/15 font-bold;
  }
  p {
    @apply text-base mb-2 last:mb-0;
    a {
      @apply underline font-semibold;
    }
  }
}

@theme {
  --color-primary: oklch(44.3% 0.11 240.79);
}
.home-intro p {
  @apply text-2xl font-semibold leading-9;
}

.btn-instagram {
  background: radial-gradient(
          circle farthest-corner at 0% 150%,
          rgb(255, 225, 125) 0%,
          rgb(255, 205, 105) 12%,
          rgb(250, 145, 55) 25%,
          rgb(235, 65, 65) 41%,
          transparent 95%
  ),
  linear-gradient(-15deg, rgb(35, 75, 215) -10%, rgb(195, 60, 190) 65%);
  background-size: 120% 120%;
}
